//MOBILE FIRST!
@media (min-width: 500px) {
    .technical-skills {
        margin-left: 15px !important;
    }
}

@media (min-width: 768px) {
    .technical-skills {
        margin-left: 75px !important;
    }
}

@media (min-width: 1560px) {
    .technical-skills {
        margin-left: 150px !important;
    }
}
