.thumbnail-photo {
    width: 45px;
}

.nav-link {
    color: azure !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}
.navbar-toggler-icon {
    background-image: url("../../assets/NavBarAssets/Hamburger.png") !important;
}
