.app-body {
    min-height: 85vh;
    color: azure;
}

.list-item-config {
    background: none !important ;
    color: azure !important;
    border: none !important;
}

.base-text-color {
    color: azure !important;
}

.custom-color-config {
    --bs-bg-opacity: none !important;
    --bs-card-bg: none !important;
}

.btn-secondary {
    --bs-btn-bg: none !important;
    --bs-btn-disabled-bg: none !important;
}
