.app-body {
    min-height: 85vh;
    color: azure;
}

.list-item-config {
    background: none !important ;
    color: azure !important;
}

.base-text-color {
    color: azure !important;
}

.custom-color-config {
    background: linear-gradient(to right, #434343 0%, black 100%);
}
